:root {
    --bg-color-light: #FAFAFA;
    --main-color-light: #FFFFFF;
    --font-color-light: #2E2A36;

    --bg-color-dark: #130F1C;
    --main-color-dark: #1F1B29;
    --font-color-dark: #FAFAFA;

    --c-secondary: #651FFF;

    --fs-default: 1rem;
}


body {
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Roboto';
    font-size: var(--fs-default);
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rf__main {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-color-light);
    color: var(--font-color-light);
}
.rf__main.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--font-color-dark);
}
.main__panel.dark-mode{
    background-color: var(--main-color-dark);
}
.main__panel {
    background-color: var(--main-color-light);
    min-width:30%;
    min-height: 60%;
    border-radius: 2%;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}
.spaced-equally {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 2%;
}
.stretch {
    width: 100%;
}
.center-text {
    text-align: center;
}
.colored-btn{
    background-color: var(--c-secondary);
    color: #FAFAFA;
    min-height: 3rem;
    border: none;
    font-size: var(--fs-default);
}
.btn {
    color: var(--bg-color-light);
    min-height: 3rem;
    border-radius: 5%;
    border: none;
    background-color: var(--bg-color-light);
}
.btn.dark-mode{
    background-color: var(--font-color-light);
}
.input-field {
    min-width: 50%;
    min-height: 3rem;
    background-color: var(--bg-color-light);
    border-style: none;
    border-radius: 5%;
    font-weight: 400;
    line-height: 1.75rem;
}
.input-toggle {
    font-weight: 400;
    line-height: 1.75rem;
}
.panel__toggle {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.switch {
    width: 28px;
    max-height: 16px;
    border-style: none;
    background-color: transparent;
    background-image: url(assets/images/Switch-off.svg);
}
.switch.dark-mode {
    background-image: url(assets/images/Switch-on.svg);
}
.google.dark-mode {
    background-image: url(assets/images/google-light.png);
}
.google {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(assets/images/google.png);
    position: relative;
    left:45%
}
.facebook.dark-mode {
    background-image: url(assets/images/fb-light.png);
}
.facebook {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(assets/images/fb.png);
    position: relative;
    left:45%
}
.grey { color: grey;}