:root {
    --bg-color-light: #FAFAFA;
    --main-color-light: #FFFFFF;
    --font-color-light: #2E2A36;

    --bg-color-dark: #130F1C;
    --main-color-dark: #1F1B29;
    --font-color-dark: #FAFAFA;

    --c-secondary: #651FFF;

    --fs-default: 1rem;
}


body {
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Roboto';
    font-size: var(--fs-default);
}
form {
    font-size: var(--fs-default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    gap: 1rem;
}
.hidden {
    display: none;
}
.main {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-color-light);
    color: var(--font-color-light);
}
.main.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--font-color-dark);
}
.main__panel.dark-mode{
    background-color: var(--main-color-dark);
}
.main__panel {
    background-color: var(--main-color-light);
    min-width: 428px;
    max-width: 665px;
    min-height: 600px;
    max-height: fit-content;
    
    border-radius: 2%;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.additional-info {
    width: 23rem;
    padding: 5% 2%;
    
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: var(--c-secondary);
    color: var(--font-color-dark);
}
.spaced-equally {
    justify-content: stretch;
    gap: 2%;
}
.stretch {
    width: 95%;
}
.center-text {
    text-align: center;
}
.btn-colored{
    background-color: var(--c-secondary);
    color: #FAFAFA;
    min-height: 3rem;
    border: none;
    border-radius: .5rem;
    font-size: var(--fs-default);
    transition: 0.3s ease-in-out;
}
.btn-colored:hover {
    transform: scale(1.1);
    border-radius: 5rem;
}
.row {
    display: flex;
    flex-direction: row;
}

.btn {
    color: var(--bg-color-light);
    min-height: 3rem;
    border-radius: .5rem;
    background-color: var(--bg-color-light);
}
.title-text {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
}
.shorten {
    width: 30%;
}
.align-right {
    display: flex;
    flex-direction: row-reverse;
}
.border-outline {
    border-style: groove;
    border-color: grey;
}
.btn.dark-mode{
    background-color: var(--font-color-light);
}
.input-field {
    min-width: 95%;
    min-height: 3rem;
    background-color: var(--bg-color-light);
    border-style: none;
    border-radius: .5rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--font-color-light);
}
.input-field.dark-mode {
    color: var(--font-color-dark);
    background-color: var(--font-color-light);
}
.stretch-height {
    height: 10rem;
}
.input-toggle {
    font-weight: 400;
    line-height: 1.75rem;
}
.panel__toggle {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.switch {
    width: 28px;
    max-height: 16px;
    border-style: none;
    background-color: transparent;
    background-image: url(assets/images/Switch-off.svg);
}
.switch.dark-mode {
    background-image: url(assets/images/Switch-on.svg);
}
.google.dark-mode {
    background-image: url(assets/images/google-light.png);
}
.google {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(assets/images/google.png);
    position: relative;
    left:45%
}
.facebook.dark-mode {
    background-image: url(assets/images/fb-light.png);
}
.facebook {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(assets/images/fb.png);
    position: relative;
    left:45%
}
.space-between {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}
.grey { color: grey;}

@media screen and (min-width: 300px) {
    
    .main__panel {
        width: 50%;
        height: fit-content;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .additional-info {
        display: none;
    }
}
